/*00214E UCL cyni
9CB7D4 UCL cera-galouboy
5DB3E6 UCL galouboy
*/

.dataTables_filter label  {
    color: hsl(228, 42%, 95%) !important; 
    font-size: 30px;
    padding-top: 20px;
}

.dataTables_length label {
    margin-left:10px;
    border:solid 2.5px;
    padding : 20px;

}

.dataTables_length select {
    border : solid 4px;
    padding : 20px;
}

.dataTables_filter label {
    border : solid 4px;
    margin-top:25px;
    margin-right:20px;
    border-radius:15px;
    padding : 20px;
    font-style: bold;
    padding-top:15px;
    padding-bottom:20px;
}

.dataTables_filter label input {
    margin-top: 35px;
    border : solid 4px;
    border-radius:10px;
    padding : 20px;
    font-size: 20px;
}

.dataTables_length label, .dataTables_length select {
    color: hsl(228, 42%, 95%) !important; 
    margin-bottom: 40px; 
    font-size: 25px;
    margin-top: 35px;
}

.dataTables_paginate, .paginate_button {
    color:#ffffff !important;
    font-style: bold;
    padding-top:15px !important;
    padding-bottom:15px !important;
    font-size:larger !important;
}

.dataTables_info {
  color: #ffffff !important;          
  font-weight: italic;      
  font-size: 20px;  
  padding-left:15px;
  border: solid 2.5px;
  margin-top : 15px;
  margin-left:10px;
  padding-right:15px;
  padding-bottom:14px !important;
  padding-top:15px !important;
  border-radius:25px;
}

table.dataTable {
  width: 100% !important;
  table-layout: fixed;
  height:auto !important;
  color:#000000 !important;
  background-color: white !important;
  border-width: 4px;
  border-color: #00214E;
  border-style: solid;
  font-size: 20px;
  padding-bottom:200px;
}

th, td {
    border: 4px solid #00214E !important;
    padding: 10px;
    text-align: center !important;
    border-width: 2px;
    font-size: 20px;
}

.title-grid-container {
    display: grid;
    grid-template-columns: 40vw 35vw 20vw; 
    grid-template-rows: 10vh;
    grid-auto-rows: 1vw;
    grid-gap: 1vw;
    justify-items: center;
    align-items: center;
    border: white;
    border-width: 1vh;
    border-style: solid;
    background-color: white;
}
.divingrid-title {
    display: grid;
    grid-template-columns: 20vw 15vw; 
    grid-template-rows: 13vh;
    align-items: center;
}
.divingrid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.background-blue-1{
    background-color: #5DB3E6;
    color:black;
}
.background-blue-2{
    background-color: #9CB7D4;
    color:black;
}
.background-blue-3{
    background-color:#00214E;
    color:white;
}
.background-white{
    background-color:white;
    color:black;
}
.searchbarsize{
    width: 50%;
    font-size: 100%;
}
.centeredtxt{
    text-align: center;
}
header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-align {
    justify-items: left;
}
.right-align {
    justify-items: right;
}
.one-page {
    display: flex;
    border: white;
    border-width: 1vh;
    border-style: solid;
    background-color: #00214E;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    
}
.incident-submission-form {
    height: 15vh;
    width: 80vw;

}
.title-container {
    border: white;
    border-width: 1vh;
    border-style: solid;
    font-size: 2vh;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-title-container {
    border: white;
    border-width: 1vh;
    border-style: solid;
    font-size: 4vh;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.central-button {
    justify-self: center;
    margin: 2vh;
}
.divform {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 40vw 40vw;
    row-gap: 1vh;
    justify-items: center;
}
.searchbarform {
    width: 40vw;
}
.divformtitle {
    border: white;
    border-radius: 1vw;
    border-style: solid;
    justify-self: center;
    background-color: white;
    color: black;
    min-width: 15vw;
    text-align: center;
}