/*00214E UCL cyni
9CB7D4 UCL cera-galouboy
5DB3E6 UCL galouboy
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

li{
    list-style:none;
}

a{
    text-decoration:none;
    color:white;
    font-size:1rem;
}

header{
    display: flex;
    flex-direction: row;
    position:relative;
    padding:0 2rem;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

nav {
    width: 100%;
    height:60px;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .links{
    display:flex;
    /* gap: 2rem; */
}

nav .toggle-btn{
    font-size:1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn{
    padding: 8px 20px;
    font-size: 1.4rem;
    border-style:solid;
    border-width: 2px;
    border-color: white;
    border-radius: 40%;
    cursor:pointer;
}


/*------------------------*/
.dataTables_filter label  {
    color:  #ffffff !important; 
    background-color:  #9CB7D4;
    font-size: 0.6vw;
    border-radius: 1.4vh;
    margin-bottom: 0.8vh;
    margin-top:0.6;
}

.dataTables_length label {
    margin-top:auto;
    margin-left: 3vw;
    border: solid 0.7vh #ffffff;
    padding : 2vh;
    background-color:#5DB3E6;
    font-size:2vh !important;
    border-radius:10vh;
}

.dataTables_length select {
    border : solid 1vw;
    padding : 3vh;
    font-size: 2vh !important;
    border-radius:1vh !important;
}

.dataTables_filter label {
    border : solid 0.3vw;
    margin-top:5vh;
    margin-right:4vh;
    border-radius:3vh;
    padding : 3vh;
    font-style: bold;
    font-size:1vw;
    padding-top:2vh;
    padding-bottom:2vh;
    color:#ffffff !important;
}

.dataTables_filter label input {
    margin-top: 5.3vh;
    border : solid 0.8vw white;
    border-radius: 3vh;
    padding-top : 3vh;
    padding-bottom : 1.5vh;
    font-size : 2vh !important;
    color:rgb(255, 255, 255);
}

.dataTables_length label, .dataTables_length select {
    color: rgb(222, 222, 222) !important; 
    margin-bottom: 5vh; 
    font-size: 3vh;
    margin-top: 5vh;
}

.paginate_button {
    padding-top:0.5vh;
    font-size:2.1vh !important;
    display: flex center;
    margin-right:21.25vw;
    padding:1.3vh 1.3vw !important;
}

.dataTables_paginate  {
    color:#ffffff !important;
    font-size:1vh !important;
    font-display: center ;
    display: flex 1vh !important;
    padding-top:0.1vh !important;
    background-color: #5DB3E6 !important;
    border:solid 0.33vw white;
    width:99.5%;
}

.dataTables_info {
  color: #ffffff !important;          
  font-weight: italic;      
  font-size: 1.7vh !important;  
  padding-left:2vh;
  border: solid 0.6vh;
  margin-top : 1vh;
  margin-left : 43vw ;
  margin-bottom:2vh;
  padding-right:2vh;
  padding-bottom:2vh !important;
  padding-top:1.8vh !important;
  border-radius:2.6vh;
  background-color: #9CB7D4;
}

table.dataTable {
  width: 100% !important;
  table-layout: fixed;
  height:auto !important;
  color:#000000 !important;
  background-color: white !important;
  border-width: 0.6vh;
  border-color: #00214E;
  border-style: solid;
  font-size: 0.9vw;
  padding-bottom:28vh;
}

th, td {
    border: 4px solid #00214E !important;
    padding: 10px;
    text-align: center !important;
    border-width: 2px;
    font-size: 2.3vh !important;
}

.title-grid-container {
    display: grid;
    grid-template-columns: 40vw 35vw 20vw; 
    grid-template-rows: 10vh;
    grid-auto-rows: 1vw;
    grid-gap: 1vw;
    justify-items: center;
    align-items: center;
    border: white;
    border-width: 1vh;
    border-style: solid;
    background-color: white;
}
.divingrid-title {
    display: grid;
    grid-template-columns: 20vw 15vw; 
    grid-template-rows: 13vh;
    align-items: center;
}
.divingrid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.background-blue-1{
    background-color: #5DB3E6;
    color:black;
}
.background-blue-2{
    background-color: #9CB7D4;
    color:black;
}
.background-blue-3{
    background-color:#00214E;
    color:white;
}
.background-white{
    background-color:white;
    color:black;
}
.searchbarsize{
    width: 50%;
    font-size: 100%;
}
.centeredtxt{
    text-align: center;
}
header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-align {
    justify-items: left;
}
.right-align {
    justify-items: right;
}
.one-page {
    display: flex;
    border: white;
    border-width: 1vh;
    border-style: solid;
    background-color: #00214E;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    
}
.incident-submission-form {
    height: 15vh;
    width: 80vw;

}
.title-container {
    border: white;
    border-width: 1vh;
    border-style: solid;
    font-size: 2vh;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-title-container {
    border: white;
    border-width: 1vh;
    border-style: solid;
    font-size: 4vh;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.central-button {
    justify-self: center;
    margin: 2vh;
}
.divform {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 20vw 30vw;
    row-gap: 1vh;
}
.divformtitle {
    border: white;
    border-radius: 1vw;
    border-style: solid;
    justify-self: center;
    background-color: white;
    color: black;
    min-width: 15vw;
    text-align: center;
}